// replace with your values and place as "secrets.properties" under /etc on Artifactory
username=guest
password=guest
vhost=/
hostname=localhost
port=5671
exchange=eiffel.public
queue=eiffel.queue
exchange_type=topic
routing_key=#